

body {
    background-color: darkslategrey;
    border-radius: 10px;
}   

h1 {
    border-radius: 10px;
    transform: translate();
    border: solid 1px black;
}

iframe {
    border: solid 1px black;
    height: 100vh;
    width: 100vw;
}
