* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-image: linear-gradient(180deg, #242429, #040311b4);
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #000000c9;
    background-image: linear-gradient(180deg, #242429, #040311b4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

body > main > form{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0px black;
}

main {
    width: 250px;
    height: 580px;

    background-color: white;
    box-shadow: 0px 0px 20px rbga(0, 0, 0, 0.502);

    border-radius: 0px 30px 0px 30px;
}

h1#obrigado {
    margin: auto;
    margin-bottom: 15px;
    
    border: 1px solid black;

    background-color: whitesmoke;
    color: #4CAF50;

    font-size: 20px;
    text-align: center;

    width: 100%;
    border-radius: 5px 5px 0px 0px;
    
}

fieldset {
    background-color: #00000077;
    background-image: linear-gradient(180deg, #242429, #040311b4);
    text-align: left;   

    height: 95%;
    width: 100%;
    
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.801);
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
}

footer {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.Infos {
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;

    width: 95%;
    height: 25px;
    margin: 5px;
    
    font-weight: 800;
}

.Infos:hover {
    background-color: #c0bbbb;
}

.título {
    background-color: rgb(42, 38, 63);
    margin-left: 17px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

::placeholder {
    text-align: center;
}

.botões {
    color: white;
    background-color: #4CAF50;
    font-weight: bolder;
    
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 4px;
    
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

.botões:hover {
    transform: translate(0px, -3px);
    background-color: #065c0a;
    transition: 0.7s;
}

span {
    text-decoration: underline;
}

/* #loading {
    width: 30px;
    animation: spin 1s infinite;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */
